* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* CONTAINER */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 590px;
    padding: 12px;
    text-align: center;
    background: #DCEBFF;
}

#input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

form {
    width: 294px;
    border-radius: .25rem;
}

form input {
    background-color: inherit;
    border: none;
    width: 294px;
    margin: 0 auto;
    display: block;
    outline: none;
}

/* BUTTONS */
#button-container {
    margin-top: 10px;
}

.buttons {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    outline: none !important;
    margin-top: 12px;
}

buttons.operator {
    font-size: 30px !important;
}

